node_modules
.pnpm-store
.turbo
.next
dist
out
coverage
*.tsbuildinfo
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.integrateapi/
